@import "custom-properties";

:host {
  @include custom-properties;

  --website-header-nav-item-link-color: var(--color-neutral-400);

  font-family: var(--font-base-family);
  line-height: var(--line-height-default);
  font-size: 16px;
  background: white;

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; /* Chrome, Safari */
    -moz-osx-font-smoothing: grayscale; /* Firefox */
  }

  *:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-maize-400),
      0 0 0 3px var(--color-neutral-400);
    border-radius: 2px !important;
  }
}

.website-header {
  background: white;
  border-bottom: solid 2px var(--color-neutral-100);
}

.website-header__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--space-medium);

  @media screen and (min-width: 721px) {
    padding: var(--space-medium) var(--space-xx-large);
  }
}

.website-header__inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.website-header__website-home-link {
  display: inline-flex;
  align-items: center;
  color: var(--color-neutral-300);
  text-decoration: none;
  line-height: 0; /* prevent height wonkyness on logo SVG */

  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: baseline;

    svg {
      margin-bottom: var(--space-x-small);
    }
  }

  .website-header__website-name {
    line-height: 1.1;
  }

  &:hover .website-header__website-name {
    text-decoration: underline;
  }
}

.website-header__website-name {
  display: block;
  font-size: var(--text-large);

  @media screen and (min-width: 600px) {
    &::before {
      display: inline-block;
      content: "/";
      margin: 0 var(--space-medium);
    }
  }
}

.website-header__nav {
  display: block;
  padding-top: var(--space-xx-small);
  margin-bottom: calc(-1 * var(--space-xx-small));
}

.website-header__nav-items {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: calc(-1 * var(--space-small));
  margin-bottom: calc(-1 * var(--space-medium));
  flex-wrap: wrap;
}

.website-header__nav-item {
  display: inline;
}

.website-header__nav-item-link {
  display: inline-block;
  color: var(--website-header-nav-item-link-color);
  padding: var(--space-small);
  text-decoration: none;
  font-size: 1.125rem;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-decoration-color: var(--color-neutral-400);
  }
}

.website-header__nav-item-link[aria-current="page"],
.website-header__nav-item-link--active {
  font-weight: 800;
  text-decoration-color: var(--color-neutral-400);
}
